<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SlideshowApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A66149F1F9C58B4002D4D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A6614B31F9C58B4002D4D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A6614BE1F9C58B4002D4D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
